/*
Full page
*/
* {
/*  border: 1px solid red;*/
  background-color:black;
  color: white;
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body, .container {
    height: 100%;
}
.container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

/*
Tags
*/
a:link, a:visited {
  color: #6d6d6d;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

body {
  background-color: white;
  color: black;
}

footer {
  padding-top: 50px;
}

header {
  margin: 0;
  padding: 0;
}

/*h1 {
  margin: 0.5em;
  padding-top: 0em;
}*/

h2 {
  font-size: 1.4em;
  margin: 0.5em;
  padding-top: 0.75em;
}

h3 {
  font-size: 1em;
  margin: 0.5em;
  padding-top: 0.5em;
}

li {
  margin-left: 2em;
}

main {
  padding: 2.5em;
}

p {
  padding-bottom: 1em;
}

table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

th, td {
  padding-right: 1em;
}

tr:hover {
  background-color: lightgray;
}


/*
General Classes
*/
.black {
  background-color: black;
  color: white;
}

.bottom_padding {
  padding-bottom: 1em;
}

.center {
  text-align: center;
}

.homepage_name {
  font-size: 4em;
  text-align: center;
}

.hover_show {
  visibility: hidden;
}

.image_link_row {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
}

.larger_text {
  font-size: 1.5em;
}

.nav_button {
  height: 70%;
  max-height: 50px;
  max-width: 50px;
  width: auto;
}

.small_nav_button {
  height: 50%;
  max-height: 20px;
  max-width: 20px;
  width: auto;
}

.top_padding {
  padding-top: 1em;
}

.white {
  background-color: white;
  color: black;
}

.width10 {
  max-width: 75px;
  min-width: 75px;
  width: 10%;
}

.width20 {
  max-width: 300px;
  min-width: 100px;
  width: 20%;
}

/*
Tag Specific Classes
*/
a:hover + .hover_show {
  visibility: visible;
}

footer.bottom_padding {
  padding-bottom: 2em;
}

img.circle {
  border: 0.5em solid black;
  border-radius: 50%;
  max-width: 70%;
}

p.list {
  padding-bottom: 0;
}

tr.no_hover {
  background-color: white;
}}

ul.top_padding li {
  padding-top: 1em;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  white-space:nowrap;
  background-color: black; /* This needs to be last */
}

ul.nav a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

ul.nav img {
  width: 15px;
}

ul.nav li {
  border-right: 1px solid gray;
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.spaced_list li {
  padding-bottom: 1em;
}
